.backgroundContainer {
    background-color: lightseagreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: auto;
    width: auto;
}

.comicImage {
    background-color: brown;
    height: 95vh;
    width: 80vh;
    border-radius: 2px;
}

.comicInfo {
    background-color: gold;
    height: 75vh;
    width: 50vh;
    padding: 15px;
    border-radius: 2px;
}

.title {
    margin-top: 0%;
}
