.backgroundContainer {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: auto;
    width: auto;
}

.comicImage {
    background-color: lightgray;
    height: 75vh;
    width: 50vh;
    border-radius: 2px;
    background-repeat: round;
    background-size: contain;
}

.comicInfo {
    background-color: lightgray;
    height: 75vh;
    width: 50vh;
    padding: 15px;
    border-radius: 2px;
}

.title {
    margin-top: 0%;
}

/* @media (max-width: 500px) {
    .backgroundContainer {
        width: 25vh;
    }
}

@media (max-width: 500px) {
    .comicInfo {
        width: 25vh;
    }
} */
