.searchBox {
    background-color: lightgreen;
    display: flex;
    height: 40px;
}

.searchInput {
    background-color: transparent;
    border: none;
}

.logo {
    background-color: darkgreen;
}