.searchBox {
    background-color: lightgreen;
    display: flex;
    height: 50px;
}

.searchInput {
    background-color: transparent;
    border: none;
}

.logo {
    background-image: url("../../../public/marvel-logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
}